# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.3dsx
*.elf
*.smdh
*.cia

# Eclipse stuff
.cproject
.directory
.project

# Folders
build

